<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Find Nearest Attraction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol'></script>

    <script src="../../Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function search() {
            var lat = $('#latitude').val();
            var long = $('#longitude').val();

            $.ajax({
                url: "api/Places/?longitude=" + long + "&latitude=" + lat,
                type: "GET",
                success: function (data) {
                    if (data == null) {
                        $('#attractionName').html("No attractions to search");
                    }
                    else {
                        $('#attractionName').html("You should visit " + data.Name);
                        displayMap(data.Location.Geography.WellKnownText, data.Name);
                    }
                }
            });
        }

        function displayMap(coordinateString, name) {
            coordinateString = coordinateString.replace("POINT (", "").replace(")", "");
            var long = coordinateString.substring(0, coordinateString.indexOf(" "));
            var lat = coordinateString.substring(coordinateString.indexOf(" ") + 1);

            map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'Your Bing Map Credentials',
                center: new Microsoft.Maps.Location(long, lat),
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                zoom: 60
            });
            // Add a pin for the place
            var center = map.getCenter();
            var pin = new Microsoft.Maps.Pushpin(center, {
                title: name,
                subTitle: name,
                text: name,
                anchor: new Microsoft.Maps.Point(long, lat)
            });
            map.entities.push(pin);
            
        }
        
    </script>
</head>
<body>
    <h1>Find the Closest Place to Go</h1>
    <div>
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" size="10" />
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" size="10" />
        <input type="button" value="Search" onclick="search();" />
    </div>
    <p id="attractionName"></p>
    <div id='myMap' style="position: absolute; width: 400px; height: 400px;"></div>
</body>
</html>